@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --lightblue: #AEDCE9;
  --darkerblue: #1891D0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
}

p {
  font-size: 1.5rem;
  text-align: center;
  margin: 8px 0;
}

.info {
  /* border-color: black;
  border-style: solid;
  border-width: 1px 1px 0 1px; */
  width: 1000px;
  padding: 8px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.grid {
  align-content: flex-start;
  align-items: center;
  /* border: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: space-around;
  margin: 0 auto;
  padding: 8px;
  width: 1000px;
}

.card {
  background-color: var(--lightblue);
  background-image: url(../images/card-back-200x200-v2.png);
  border-radius: 4px;
  color: rgba(0, 0, 0, 0);
  font-weight: 700;
  align-items: center;
  border: 1px solid var(--darkerblue);
  display: flex;
  height: 200px;
  justify-content: center;
  margin: 5px;
  width: 200px;
  box-shadow: -2px 2px 5px 1px rgba(0,0,0,0.75);
  -webkit-box-shadow: -2px 2px 5px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 2px 5px 1px rgba(0,0,0,0.75);
  transition: all 1000ms ease;
  cursor: pointer;
  object-fit: contain;
}

