@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Yusei Magic', sans-serif;
  font-size: 100%;
}

main {
  align-items: flex-end;
  background-color: #ccc;
  display: flex;
  font-size: 1.3rem;
  height: 100px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 32px 32px 32px;
  width: 700px;
}

.message {
  background-color: #c5d32c;
  padding: 75px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  box-shadow: 6px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 6px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 4px 5px 0px rgba(0, 0, 0, 0.75);
}