@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
}

p {
  font-size: 1.5rem;
  text-align: center;
  margin: 8px 0;
}

.grid {
  align-content: flex-start;
  align-items: center;
  border: 1px solid;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: space-around;
  margin: 0 auto;
  padding: 8px;
  width: 700px;
}

.card {
  background-color: blue;
  color: blue;
  font-weight: 700;
  align-items: center;
  border: 1px solid black;
  display: flex;
  height: 100px;
  justify-content: center;
  margin: 5px;
  width: 100px;
  transition: all 500ms ease;
  cursor: pointer;
}