*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #101010;
}

main {
  background-color: #444;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 1000px;
}

div {
  background-color: #444;
  height: 100px;
  width: 100px;
}