*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

main {
  background-color: #ccc;
  width: 1000px;
  margin: 0 auto;
  display: flex;
}

div {
  width: 100px;
  height: 100px;
  background-color: red;
}